---
- name: Check if Git is installed
  ansible.windows.win_shell: git --version
  register: git_check
  failed_when: false
  changed_when: false

- name: Check if Git installer exists
  ansible.windows.win_stat:
    path: C:\Windows\Temp\GitSetup.exe
  register: installer_check

- name: Download Git installer if not present
  ansible.windows.win_powershell:
    script: |
      $release = Invoke-RestMethod https://api.github.com/repos/git-for-windows/git/releases/latest
      $asset = $release.assets | Where-Object name -match '64-bit\.exe$' | Select-Object -First 1
      Invoke-WebRequest -Uri $asset.browser_download_url -OutFile C:\Windows\Temp\GitSetup.exe
  when: git_check.rc != 0 and not installer_check.stat.exists
  
- name: Run Git installer silently
  ansible.windows.win_command:
    cmd: C:\Windows\Temp\GitSetup.exe /SILENT
  when: git_check.rc != 0

- name: Clone git repo to Windows Temp
  ansible.windows.win_shell: |
    git clone https://github.com/davidprowe/BadBlood C:\Windows\Temp\BadBlood
  args:
    chdir: C:\Windows\Temp

- name: Check if BadBlood directory exists
  ansible.windows.win_stat:
    path: C:\Windows\Temp\BadBlood
  register: badblood_check

- name: Run BadBlood script if directory exists. This takes a while...
  ansible.windows.win_powershell:
    script: C:\Windows\Temp\BadBlood\Invoke-BadBlood.ps1
  when: badblood_check.stat.exists
